{% extends "main/base.html" %}

{% block title %} Set password {% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>Set password</h3>
<div>
    <label>
        <input type="text" placeholder="Old password">
    </label>
</div>
<div>
    <label>
        <input type="text" placeholder="New password">
    </label>
</div>
<div>
    <label>
        <input type="text" placeholder="Confirm new password">
    </label>
</div>
<div>
    <p>
        <a href="">Submit</a>
    </p>
</div>
</body>
</html>
{% endblock %}