{% extends "main/base.html" %}

{% block title %} Add comment {% endblock %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comments</title>
</head>
<body>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
</body>
</html>
{% endblock %}
