{% extends "main/base.html" %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}

<div id="body_row">
    <div id="content">
        <h2 class="text-center">{{ article.title }}</h2>
        <p class="text-start">{{ article.content }}</p>
    </div>
    <div id="sidebar">
        <div class="card text-center bg-transparent" style="width: 18rem;">
            <p class="h3">Account</p>
            <div class="btn-group-vertical " role="group" aria-label="Vertical button group">
                <p><a href="{% url 'create_post' %}" class="btn btn-secondary">Create post</a></p>
                <p><a href="{% url 'article_update' article.pk %}" class="btn btn-secondary">Update post</a></p>
                <p><a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Delete post</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <h2>Comments</h2>
    {% for comment in article.comments.all %}
    <p class="h7">Name: {{comment.author}}</p>
    <p>Comment: {{comment.message}}
    </p>
    {% endfor %}
    <p><a href="{% url 'article_comment' article.pk %}" class="btn-primary">Add comment</a></p>
</div>
{% endblock %}
